.preview-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background: white;
}

#capture-container {
    width: 1200px;
    height: 630px;
    background: #FFFBF7;
    border-radius: 24px;
    position: relative;
    overflow: hidden;

    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
}

/* FRAME */
#gold-frame {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 3;
    pointer-events: none;
}

/* LEFT COLUMN */
.left-col {
    padding: 36px 32px;
    z-index: 4;
    text-align: center;
}

.label {
    font-size: 14px;
    margin-bottom: -2px;
}

.title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 4px;
}

/* Degree Label */
.degree-tag {
    display: inline-flex;
    padding: 6px 16px;
    border-radius: 20px;
    background: #fff;
    border: 1px solid #E7C76D;
    margin-bottom: 16px;
}

/* Avatar */
.avatar-wrap {
    width: 180px;
    height: 180px;
    margin: 10px auto 12px;
    position: relative;
}

.avatar-frame {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #D4AF37;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.invite-text {
    font-size: 15px;
    margin-top: 10px;
}

/* RIGHT COLUMN */
.right-col {
    padding: 40px 36px 20px;
    z-index: 4;
}

/* Logo + Title */
.uni-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}
.uni-logo {
    width: 60px;
    height: auto;
}

.info-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}

.info-grid {
    display: grid;
    gap: 8px;
    margin-bottom: 10px;
}

.info-card {
    background: #ffffffee;
    border: 1px solid #E7C76D;
    border-radius: 12px;
    padding: 10px;
}
.info-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 12px;
}

.info-card.half {
    width: 100%;
}

/* MAP SECTION */
.map-label {
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 6px;
}

.map-img {
    width: 92%;
    border-radius: 10px;
    border: 1px solid #ddd;
}
